
/* Your CSS Code here. */
.main{
	Width: 200px;
	Background-color:purple;
	border-left-color:green;
	border-left-width:5px;
	padding:10px;
}
#heading{
	Font-size: 20px;
	color:white;
	text-decoration:underline;
}